# @Created with Atom#
# @author @author@
# @time @timestamp@
# @description
# Log4j 配置文件

# Global logging configuration
log4j.rootLogger = debug, stdout# Console output...
log4j.appender.stdout = org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout = org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern = % 5 p[ % t] - % m % n
